# Python Bytecode
__pycache__/
*.py[cod]

# Virtual Environment
alisha/
.alisha/

# Flask instance files
instance/

# Flask config file
*.env

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Log files
*.log

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
